
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat",sans-serif;
}

button{
  font-weight: 500;
  font-size: 20px;
  border:none;
  cursor:pointer;
  border-radius: 10px;
  padding: 10px 20px;

}

button:disabled {
  cursor: default;
}

button.participate-button:disabled {
    background-color: #cccccc; /* Gray background */
    color: #666666; /* Darker text */
    border: 1px solid #ae4141; /* Optional: Add a border */
}

button.participate-button.status-positive {
  background-color: #32de25; 
  color:hwb(0 0% 100%)

}
.connect-button{
  padding: 10px 20px;
  border-radius:5px;
  font-size: 18px;


}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 5%;
  
}

header .connect-button{
margin:-3%;
}

body {
  background: rgba(233,96,64,255);
}


.logo{
  max-width: 20%;
  cursor: pointer;

}




footer{
position:fixed;
left:0;
bottom:0;
right:0;
padding-bottom:20px;
padding-left:10px;


}

.footer-text{
  font-size: 20px;
  
}


.projects-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  column-gap: 24px;
}



.container-title {
    margin: 16px; /* Space between title and cards */
    text-align: center; /* Center-align the title */
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Dark grey color for the text */
}


.project-card{
    display:flex;
    border: 1px solid hsl(0, 1%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%,0.1);
    padding: 20px;
    margin:10px;
    text-align: center;
    max-width: 400px;
    min-width: 250px;
    display: inline-block;
    overflow: hidden;
    flex-direction: row;
    flex-basis: 33.33%;
    -webkit-box-flex: 0;
    flex-grow: 0;


}



.image-container {
  width: 100%; 
  height: 250px;
  justify-content: center; 
  align-items: flex-start; 
}



.info-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 12px;

}

.project-card .card-image{
    max-width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}

.project-card .card-title{

    margin-bottom: 25px;
}

.project-card .card-text{
    font-weight: 500;
    margin: 5px 
}

.participate-button{
  margin-top: 20px ;
}






